body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(202, 176, 176);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.memo-board-container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.memo-board {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, 200px);
}
.memo {
  background-color: blanchedalmond;
  border-radius: 5px;
  padding: 1rem;
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.memo-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.memo-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.memo-body {
  display: flex;
  align-items: center;
}

.pin-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
